@model IEnumerable<MiIT.Models.Periodo>

@{ViewBag.Title = "Periodo";}

<h2>Historial Académico</h2>
<p><strong>Año de Ingreso:</strong> 2023</p>

<div id="historial-academico">
    @foreach (var periodo in Model)
    {
        <h3>@periodo.Semestre</h3>
        <ul>
            @foreach (var materia in periodo.Materias)
            {
                <li>@materia.Codigo @materia.Nombre "@materia.Estado"</li>
            }
        </ul>
    }
</div>


