@model IEnumerable<MiIT.Models.Curso>

@{ViewBag.Title = "Curso";}

<h2>Asignaturas actules: "En Curso"</h2>
<p><strong>Año de Ingreso:</strong> 2023</p>

<h3>Quinto Semestre</h3>
<ul>
    @foreach (var curso in Model)
    {
        <li> @curso.Codigo @curso.Nombre</li>
    }
</ul>
