@model MiIT.Models.DatosPersonales

@{ViewData["Title"] = "Sección";}

<h2>Mis Datos Personales</h2>
<ul>
    <li>Nombre: @Model.Nombre</li>
    <li>Cédula: @Model.Cedula</li>
    <li>Carrera: @Model.Carrera</li>
    <li>Correo: @Model.Correo</li>
</ul>

