@{
    ViewData["Title"] = "Sección";
}

<h2>Mis Datos Personales</h2>
<ul>
    <li>Nombre: Armin Daniel Antonio Mendieta</li>
    <li>Cédula: 9949257</li>
    <li>Carrera: Infomatica Industrial</li>
    <li>Correo: antonio9949257@gmail.com</li>
</ul>
